<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    package="com.tuesda.watch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/drible"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginActivity"
            android:noHistory="true"
            />
        <activity android:name=".activities.UserInfoActivity" />
        <activity android:name=".activities.WithActionBarActivity"
            />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.OneShotInListActivity" />
        <activity android:name=".activities.ShotDetailActivity" />
        <activity android:name=".activities.InputActivity" />
        <activity android:name=".activities.UsersActivity" />
        <activity android:name=".activities.ShotsActivity" />
        <activity android:name=".activities.BucketsActivity" />
        <activity android:name=".activities.AboutActivity" />

    </application>

</manifest>
